{% extends 'base.html' %} {% block title %} 리스트뷰{% endblock %}
{% block content %}

{% load static %}
{% load humanize %}
<h6> </h6>


<div class="container" style="padding-right:200px; padding-left:200px;">
<img src="{% static 'goods/thunderadd.png' %}" class="card-img-top">
 <div class="row">
     {% if goods_list %}
{% for goods in goods_list %}

<div class="col-md-3 my-2">
<div class="card " style="width: 11rem; height:18rem">
    <a class = "mx-0"href="{% url 'goods:detail' goods.id %}" style="text-decoration:none;color:black;">
  <img src="{{ goods.image.thumb_url }}" class="card-img-top " alt="...">

  <div class="card-body text-dark" style="height:10rem;">
      <p class="card-text">{{ goods.name }}</p>
    <h5 class="card-title inline">{{ goods.price | intcomma }}원</h5>
    <p class="card-text">{{ goods.tts }}
        {% if goods.comment_set.count > 0 %}
        <span class="text-danger">댓글:{{ goods.comment_set.count }}</span>
        {% endif %}
    </p>



  </div>
         </a>
</div>
</div>

{% endfor %}
    {% endif %}
     </div>
       </div>
{% endblock %}
