{% extends 'base.html' %} {% block title %} 글 상세보기 {% endblock %} {% block content %}

<div class="container">
    <h1>리스트뷰 </h1><h2 ><a href="{% url 'goods:create' %}">새 글 쓰기</a></h2>
{% for goods in goods_list %}

<div class="card" style="width: 12rem;">
    <a href="{% url 'goods:detail' goods.id %}">
  <img src="{{ goods.image.thumb_url }}" class="card-img-top" alt="...">
    </a>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

{% endfor %}
       </div>
{% endblock %}